<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.ht.myandroid">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FullScreenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.KotlinActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ArithmeticHomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SetpsViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>



        <service android:name=".service.GrayService"/>
        <service android:name=".service.GrayService$GrayInnerService"/>
        <service android:name=".Receiver.WakeReceiver$WakeNotifyService"/>
        <service android:name=".Receiver.WakeReceiver$WakeGrayInnerService"/>

        <receiver android:name=".Receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.wake.gray"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>